/* 按钮 */
.btn_default{
  display: inline-block;
  min-width: 120rpx;
  text-align: center;
  box-sizing: border-box;
  padding: 16rpx 24rpx;
  color:#AD8C4E;
  background: #FFF5CA;
  font-size:26rpx;
  border-radius:56rpx;
  white-space: nowrap;
}
.btn_white{
  padding: 14rpx 22rpx;
  color:#989898;
  background:#fff;
  border: 1rpx solid #989898;
}
.btn_main{
	min-width: 120rpx;
	text-align: center;
	padding: 22rpx 58rpx;
	font-size: 32rpx;
	border-radius: 76rpx;
	white-space: nowrap;
	line-height: 32rpx;
}
.btn_main_theme {
	color: #fff;
	background: #FFD662;
}
.btn_default_tag {
	color:#AD8C4E;
	background: #FFF5CA;
}
.btn_red{
  color:#FF4466;
  background:#FFF3F4;
}
.btn_shoot {
	padding: 20rpx 30rpx;
	border-radius:33rpx;
	font-size: 26rpx;
	line-height: 26rpx;
}
.btn_douyin {
	background:linear-gradient(90deg,rgba(255,106,166,1) 0%,rgba(170,71,255,1) 100%);
	color: #fff;
}
.btn_share {
	background:linear-gradient(90deg,rgba(255,151,197,1) 0%,rgba(254,132,120,1) 100%);
	color: #fff;
}
.btn_shoot_detail {
	padding: 14rpx 20rpx;
	border-radius:26rpx;
	font-size: 24rpx;
}
.btn_share_detail {
	background: #FFF3F4;
	color: #FF4466;
}
.btn_grey{
  color:#989898;
  background:#F7F7F7;
}
.btn_darkgrey{
  color:#fff;
  background:#989898;
}
.btn_yellow{
  color:#27292B;
  background:#FEE382;
}
.btn_green{
  color:#fff;
  background:#ABE194;
}
.btn_black{
  padding: 14rpx 22rpx;
  background:#fff;
  color:#989898;
  border: 1rpx solid #989898;
}
.btn_soldout {
	color:#DEDEDE;
	background:#fff;
	border:1rpx solid rgba(222,222,222,1);
}
.btn_sl{
  padding: 8rpx 18rpx;
  font-size: 22rpx;
}
.btn_lg{
  padding: 20rpx 120rpx;
  font-size: 32rpx;
}

.btn_480 {
	width: 480rpx;
	height: 76rpx;
	line-height: 76rpx;
	text-align: center;
	font-size: 32rpx;
	border-radius: 38rpx;
	font-weight:400;
}
/* 小标签 */
.tag_grey{
  background: #f7f7f7;
  color: #808080;
}
.tag_darkgrey{
  color:#fff;
  background:#989898;
}
